# Docs
docs/ignore

# IA
.agents
.claude
.windsurf
.kiro

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.sln
*.sw?
.gitpod.yml

# codegraph local index
.codegraph/
