.board {
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 2rem  0;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5px;

    list-style: none;
}
