.board {
    padding: 1rem 1rem 0;
    margin: .5rem 0 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    gap: 1.5rem;
}

.board-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem .6rem;
}
