.column {
    width: 26rem;
    min-height: 20rem;
    height: auto;
    padding: 8px 10px 6px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: #000 solid .125rem;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}
.column__title {
    margin: 0 0 10px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 600;
    text-align: left;
}
.column__title input {
    height: 1.5rem;
    width: 100%;
}
.column__title-change-name-btn {
    margin-inline-start: 10px;
    padding: 0;
    font-size: .8rem;
    line-height: 1rem;
    text-align: right;
    color: rgba(0, 0, 0, 0.192);
    border: none;
    background: transparent;
}
.column__title-change-name-btn:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}
.column__footer {
    width: 100%;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column__footer input {
    width: 76%;
    border: #ccc 2px solid;
    border-radius: 4px 0px 0px 4px;
}
.column__footer button {
    border: #ccc 2px solid;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
}