.column {
    width: 26rem;
    min-height: 20rem;
    height: auto;
    padding: 8px 10px 6px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: #000 solid .125rem;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
}
.column__title {
    margin: 0 0 10px;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 600;
    text-align: left;
}
.column__task-list {
    height: auto;
    min-height: 14rem;
    list-style: none;
    padding: 0;
}