.column-header {
    width: 100%;
    margin: 8px 10px 10px 10px;
    padding: 0;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

}
.column-header h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 600;
    text-align: left;
    border: 2px solid transparent;
}
.column-header input {
    width: 100%;
    height: auto;
    padding-block: 0;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: bold;
}
.column-header__change-name-btn {
    padding: 0;
    padding-inline-start: 10px;
    font-size: .8rem;
    line-height: 1rem;
    text-align: right;
    color: rgba(0, 0, 0, 0.192);
    border: none;
    background: transparent;
}
.column-header__change-name-btn:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}