.task {
    margin-bottom: 1rem;
    padding: .5rem 0 0 .5rem;

    background: #FCFBFC;
    border-radius: 0.25rem;
    border: solid 0.125rem #000;
    box-shadow: 0.15rem 0.15rem #000;
}
.task__text {
    margin: 0;
    padding: 0;
    padding-right: .5rem;

    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
    text-align: left;
    color: #000;
}