#root {
    --task-background-color: #FCFBFC;
    --task-font-color: #000;
    
    --warning-color: #ffd48e;
    --purple-color: rgb(208,186,241);
    --success-color: #2cb67d;
    --info-color: rgb(136,163,253);
    --primary-color: rgb(223,233,238);
}

.task {
    margin-bottom: 1rem;
    padding: 0;

    background: var(--task-background-color);
    border-radius: 0.25rem;
    border: solid 0.125rem #000;
    box-shadow: 0.15rem 0.15rem #000;
    cursor: default;
    user-select: none;
    transition: box-shadow 50ms ease;
}
.task:hover {
    box-shadow: none;
}
.task__text {
    margin: 0;
    padding: .5rem;

    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
    text-align: left;
    transition: font-size ease 50ms;
    color: var(--task-font-color);
}


.task-options {
    width: 100%;
    margin-top: .2rem;
}
.task-options__options {
    width: 100%;
    margin: 0;
    list-style: none;
}
.task-options__options--hide {
    display: none;
    height: 0;
    opacity: 0;
    padding: 0;
}
.task-options__options--show {
    display: block;
    height: auto;
    opacity: 1;
    padding: 0 .5rem .6rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}