#root {
    --task-background-color: #FCFBFC;
    --task-font-color: #000;
    
    --warning-color: #ffd48e;
    --purple-color: rgb(208,186,241);
    --success-color: #2cb67d;
    --info-color: rgb(136,163,253);
    --primary-color: rgb(223,233,238);
}

.task {
    margin-bottom: 1rem;
    padding: 0;

    background: var(--task-background-color);
    border-radius: 0.25rem;
    border: solid 0.125rem #000;
    box-shadow: 0.15rem 0.15rem #000;
    cursor: default;
    user-select: none;
    transition: background-color 500ms ease;
}
.task:hover {
    background-color: var(--primary-color);
}
.task__text {
    margin: 0;
    padding: .5rem;

    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
    text-align: left;
    color: var(--task-font-color);
}