.task-options {
    width: 100%;
    margin-top: .2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.task-options__btn {
    box-sizing: border-box;
    width: 100%;
    height: 15px;
    padding: 0;
    font-weight: 700;
    font-size: 8px;
    opacity: .5;
    border: none;
    background-color: #ccc;
}
.task-options__btn:hover {
    opacity: 1;
}
.task-options__options {
    width: 100%;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
}
.task-options__options--hide {
    display: none;
    height: 0;
    opacity: 0;
    padding: 0;
}
.task-options__options--show {
    display: block;
    height: auto;
    opacity: 1;
    padding: 0 .5rem .6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.task-options__options-first-option {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-option-btn {
    height: auto;
    padding: 3px 6px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: .8rem;
    text-align: left;
    line-height: .9rem;
    background: var(--white-color);
	border-radius: 0.25rem;
    border: solid 0.125rem #121212;
    transition: background-color 500ms ease;
}
.task-option-btn > * {
    display: block;
}
.task-option-btn--primary:hover {
    background-color: var(--info-color);
}
.task-option-btn--danger:hover {
    background-color: var(--danger-color);
}