#root {
    --warning-color-btn: #FED663;
    --success-color-btn: #81CA95;
    --info-color-btn: #89B4F8;
    --danger-color-btn: #F28B82;
    --primary-color: rgb(223,233,238);
}
.btn {
    width: auto;
    height: auto;
    padding: 3px 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    
    font-size: .9rem;
    line-height: 1.1rem;
    font-weight: 400;
    text-align: left;
    border: none;
    border-radius: 0.25rem;
    background: transparent;
    transition: background-color 500ms ease;
}
@media only screen and (max-width: 768px) { 
    .btn {
        font-size: 1.1rem;
        line-height: 1.3rem;
        margin-block-end: .2rem;
    }
}
.btn-width-100 {
    width: 100%;
    justify-content: flex-start;
}
.btn--border {
    background: #FCFBFC;
    border: solid 0.125rem #121212;
}
.btn-border--neo {
    background: #FCFBFC;
	border: solid 0.125rem #121212;
	box-shadow: 0.15rem 0.15rem #121212;
}
.btn:hover {
    background-color: var(--info-color-btn);
}
.btn--primary:hover {
    background-color: var(--info-color-btn);
}
.btn--danger:hover {
    background-color: var(--danger-color-btn);
}
.btn--success:hover {
    background-color: var(--success-color-btn);
}
.btn--warning:hover {
    background-color: var(--warning-color-btn);
}