.neo-border {
	border: solid 0.125rem #121212;
	box-shadow: 0.15rem 0.15rem #121212;
    border-radius: 0.25rem;
}
.normal-border {
	border: solid 0.125rem #121212;
    border-radius: 0.25rem;
}
.none-border {
    border: none;
}

.container {
    width: 100%;
    height: auto;
}

.flex-container {
    width: 100%;
    height: auto;

    display: flex;
}
.flex-container--wrap {
    flex-wrap: wrap;
}
.flex-container--nowrap {
    flex-wrap: nowrap;
}
.flex-container--column {
    flex-direction: column;
}
.flex-container--row {
    flex-direction: row;
}